@import "../variables";

.home-container {
  width: 100%;
  height: 100%;
}

.card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  &__empty {
    text-align: center;
    color: $textColor;
  }
}
