@import "../_variables.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  opacity: 0;
  max-height: 80vh; /* Ограничение высоты модального окна */
  overflow: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal-content.open {
  transform: translateY(0);
  opacity: 1;
}

.token-search {
  // grid-column: 1 / 4;
  // grid-row: 1;
  width: 500px;
}

.buttonClose {
  margin: 10px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: lighten($accentColor, 20%);

  &:hover {
    background-color: darken($accentColor, 10%);
  }
}
