.navbar-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  //   height: 100px;
  width: 100%;
}

.img-preview {
  width: 200px;
  height: 200px;

  .img-error {
    display: block;

    color: red;
    border: 1px solid red;
    margin: 0 auto;
  }
}

.img-search {
  grid-column: 1 / 4;
  grid-row: 2;
}
