@import "src/scss/variables.scss";

.container {
  animation: slideIn 1s ease forwards;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h3 {
  margin: 10px 0px 25px 0px;
  font-size: 28px;
  font-weight: 500;
  color: $textColor;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .date {
      margin: 0;
      padding: 0;
      margin-right: 10px;

      background-color: $componentBackgroundColor;
      color: $textColor;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      margin-right: 10px;
      height: 35px;
      width: 200px;
    }

    .sel {
      background-color: red;
    }
  }

  .search {
    display: flex;
    flex-direction: row;

    .input {
      font-family: "Inter", sans-serif;
      height: 35px;
      width: 200px;
      background-color: $componentBackgroundColor;
      color: $textColor;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      margin-right: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}

.custom-select {
  position: relative;
  width: 200px;
}

.selected {
  padding: 10px;
  background-color: $componentBackgroundColor;
  border: 1px solid $borderColor;
  border-radius: 8px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.options li {
  padding: 10px;
}

.options li:hover {
  background-color: $borderColor;
}
