.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.logo {
  width: 200px;
}

.fields {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-weight: 300;
  font-size: 20px;

  @media (max-width: 700px) {
    font-size: 12px;
  }
}
