.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.logo {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}

.fields {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
