@import "src/scss/variables.scss";

@keyframes slideIn {
  0% {
    opacity: 0; /* Начальное состояние - невидимый */
    transform: translateX(-50px); /* Сдвинут влево */
  }
  100% {
    opacity: 1; /* Конечное состояние - видимый */
    transform: translateX(0); /* На своем месте */
  }
}

.container {
  position: relative;
  height: 100vh;
  animation: slideIn 1s ease forwards;
  color: $textColor;
}

.progress {
  position: absolute;
  top: 50%; /* Смещение по вертикали */
  left: 50%; /* Смещение по горизонтали */
  transform: translate(-50%, -50%);
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  animation: slideIn 1s ease forwards;

  img {
    width: 300px;
  }

  p {
    margin: 5px;
    color: $textColor;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
  }
}
