@import "src/scss/variables.scss";

.sidebar {
  width: 240px;
  height: 93vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: $borderColor 2px solid;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: $borderColor 2px solid;

    img {
      width: auto;
      height: 60px;
    }
  }

  ul {
    flex-direction: column;
    width: 100%;
    margin: 0;

    li {
      margin-top: 10px;
      padding: 12px;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      cursor: pointer;

      list-style-type: none;

      .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $textColor;
      }

      img {
        margin-right: 8px;
        width: 25px;
      }
    }
  }

  .active {
    background-color: $componentBackgroundColor;
    border-radius: 6px;

    .link {
      color: $buttonColor;
    }
  }

  .userInfo {
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: center;
    border: $borderColor 2px solid;
    border-radius: 12px;
    padding: 18px;
    font-size: 14px;
    font-weight: 500;

    .logout {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .userPhoto {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }

    .title {
      color: $textColor;
      font-size: 14px;
      font-weight: 500;
    }

    .text {
      color: $textGreyColor;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
