.loserok {
  color: red;
  background-color: green;
  background: blue;
  font-size: 30px;
}

.rumerok {
  font-weight: bold;
  display: flex;
  gap: 10px;
  &:hover {
    font-size: 10px;
  }
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }
}
