.container {
  border: 1px solid #ccc;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  animation: slideIn 1s ease forwards;
}

.table {
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0; /* Начальное состояние - невидимый */
    transform: translateX(-50px); /* Сдвинут влево */
  }
  100% {
    opacity: 1; /* Конечное состояние - видимый */
    transform: translateX(0); /* На своем месте */
  }
}

.anima {
  animation: fadeIn 1s ease forwards;
}

.deleted {
  background-color: red;
}

.approved {
  background-color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Начальное состояние - невидимый */
    transform: translateY(-20px); /* Сдвиг вверх */
  }
  to {
    opacity: 1; /* Конечное состояние - видимый */
    transform: translateY(0); /* На своем месте */
  }
}

.tableHead {
  background-color: #f9f9fd;
}

.pagination {
  margin-top: 20px;
  align-items: center;
}

.status {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 100px;
  width: max-content;

  &0 {
    background-color: #eff8ff;
    color: #175cd3;
  }

  &1 {
    background-color: #fef3f2;
    color: #b42318;
  }

  &2 {
    background-color: #ecfdf3;
    color: #067647;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}

.show-order {
  background-color: red !important;

  &:hover {
    background-color: green !important;
    color: red;
  }
}
