$buttonColor: #4d4aea;
$buttonClickColor: rgba(108, 99, 255, 1);

$componentBackgroundColor: #f2f4f7;
$borderColor: #ececee;
$boxShadow: 0 4px 8px rgba(16, 24, 40, 0.2);

$textColor: #344054;
$textGreyColor: #8c8e90;

$fontFamily: "Inter", sans-serif;
